.portfolio-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120vh;
  width: 100vw;
  font-family: var(--textFont);

}


.grid-container{
    display: grid;
    grid-template-columns:  minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    align-items: center;
    justify-content: center;
    padding: 40px;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 90%;
}


.card {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
 
  display: flex;
    justify-content: center;
    align-items: flex-startz;
     font-family: var(--textFont);
    font-weight: 100;
    margin: 40px auto;
    width: 90%;
    height:  90%;
    position: relative;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow:  rgba(0, 0, 0, 0.16) 0px 1px 4px;

   }

  

  .heading{
    font-size: 2rem;
    border-bottom: solid 2px;
    width: 85%;

  }
  .project-description{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 350px;
  }