.portfolio-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120vh;
  width: 100vw;
  font-family: var(--textFont);

}


.grid-container{
    display: grid;
    grid-template-columns:  minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    align-items: center;
    justify-content: center;
    padding: 40px;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 90%;
}


.card {
   
  display: flex;
    justify-content: center;
    align-items: flex-startz;
     font-family: var(--textFont);
    font-weight: 100;
    margin: 40px auto;
    width: 90%;
    height:  90%;

    background: #ffffff;
   
  
   }
   
 
  

  .app-image{
    height: 300px;
  }

  .heading{
    font-size: 2rem;
    border-bottom: solid 2px;
    width: 85%;

  }
  .project-description{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 350px;
  }