.about-section{
    font-family: var(--textFont);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 70vh;
}

.about-text > p {
    font-size: 1.2rem;
    word-spacing: 5px;

}

.about-text > h3 {
    align-self: flex-start;
    padding-bottom: 20px;
    font-size: 2rem;
    word-spacing: 5px;

}
.about-heading{
    border-bottom: solid 2px;
    font-size: 2.8rem;
    width: 85%;
    text-align: start;
}

.about-grid{
    display: flex;
    justify-content:space-evenly;
    gap: 30px;
    height: 90%;
    width: 90%;
    padding: 40px;

}
.skills-contaier{
    width: 50%;
}

 .skills-grid{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
    gap: 30px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)  minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
   
}

.skills-icons{
    width: 100%;

}
.about-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}