.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;

}

.home-grid {
  height: 80%;
  width: 100%;
  gap: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 80%;
  width: 40%;
  font-family: var(--textFont);
}

.home-title {
  letter-spacing: 2px;
  font-size: 3.5rem;
}

.home-image {
  width: 26%;
  border-radius: 48% 52% 61% 39% / 48% 63% 37% 52%;

}
